* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 25%;
    padding: 0%;
}
html {
    font-size: 62.5%;
}
header {
    background-image: url(./asset/img/Capture\ d’écran\ 2022-05-31\ 092411.png);
    width: 100%;
    min-width: 320px;
    height: 220px;
}

header h1 {
    text-align: center;
    


}
.section1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 2 / 11 / 4; }
    .div2 { grid-area: 2 / 5 / 11 / 7; }
